{% extends "admin_base.html" %}
{% block content %}
<div class="container">
    <hr>
    <form action="/remove_plant", method="post">
        <div class="plants">
            {% for plant in plants %}
            Nimi: {{ plant.plant_name }} <br>
            Valon määrä: {{ plant.sun }} <br>
            Veden määrä: {{ plant.water }} <br>
            <a href="/plant2/{{ plant.id }}">Katso kaikki kommentit</a> <br>
            <input type="hidden" name="plant_id" value="{{ plant.id }}">
            <input type="submit" value="Poista"> <br>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <hr>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}