{% extends "admin_base.html" %}
{% block content %}
<div class="container">
    <form action="/add_group" method="post">
        <div class="group">
            Ryhmän nimi: <input type="text" id="group_name" name="group_name">
            <button type="submit" class="btn">Luo ryhmä</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </div>
    </form>
    {% for group in groups %}
    Ryhmä: {{ group.name }} <br>
    <a href="/group/{{ group.id }}" class="link">Katso kasvit</a> <br> <br>
    <form action="/remove_group" method="post">
            <button type="submit" class="btn">Poista ryhmä</button>
            <input type="hidden" name="group_name" value="{{ group.name }}">
            <input type="hidden" name="group_id" value="{{ group.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <hr>
    {% endfor %}
</div>
{% endblock %}