{% extends "admin_base.html" %}
{% block content %}
<div class="container">
    {{ group_name }}
    <form action="/add_to_groups" method="post">
        <div class="plants">
            Kasvin nimi: <textarea name="plant_name" rows="1" cols="30"></textarea>
            <input type="submit" value="Lisää ryhmään">
            <input type="hidden" name="plant_name" value="{{ plant_name }}">
            <input type="hidden" name="group_id" value="{{ id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </div>
    </form>

    {% if error %}
    <p id="error">{{error}}</p>
    {% endif %}

    {% for value in value_list %}
    <i>Nimi:</i> {{ value.plant_name }} <br>
    {% endfor %}
</div>
{% endblock %}