<!DOCTYPE html>
<html>
<h1>Lisää uusi kasvi</h1>

<body>

    <form action="/send" method="POST">
        Nimi: <input type="text" name="plant_name"> <br>

        Valon määrä:
        <input type="radio" name="sun" value="Erittäin vähän"> Erittäin vähän
        <input type="radio" name="sun" value="Vähän"> Vähän
        <input type="radio" name="sun" value="Keskimäärin"> Keskimäärin
        <input type="radio" name="sun" value="Paljon"> Paljon
        <input type="radio" name="sun" value="Erittäin paljon"> Erittäin paljon <br>

        Veden määrä:
        <input type="radio" name="water" value="Erittäin vähän"> Erittäin vähän
        <input type="radio" name="water" value="Vähän"> Vähän
        <input type="radio" name="water" value="Keskimäärin"> Keskimäärin
        <input type="radio" name="water" value="Paljon"> Paljon
        <input type="radio" name="water" value="Erittäin paljon"> Erittäin paljon <br>

        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="reset" value="Nollaa">
    </form>
<a href="/user_page">Takaisin etusivulle</a>
</body>
</html>