{% extends "base.html" %}
{% block content %}
<div class="container">
    Nimi: {{ plant_name }} <br>
    Aurinko: {{ sun }} <br>
    Vesi: {{ water }} <br>
    Tykkäysten määrä: {{ count }} <br>
    <form action="/like" method="post">
            <input type="submit" value="Tykkää">
            <input type="hidden" name="plant_id" value="{{ id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    {% for comment in comments %}
    <i>Kommentti:</i> {{ comment.content }}
    <p>
        {% endfor %}


    <form action="/add" method="post">
        <p>Kommentti: <br>
            <textarea name="content" rows="4" cols="50"></textarea>
            <br>
            <input type="submit" value="Lähetä">
            <input type="hidden" name="plant_id" value="{{ id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <hr>
</div>
{% endblock %}